.chatbot-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, sans-serif;
  padding: 10px;
  box-sizing: border-box;
}
.chatbot-messages {
  flex-grow: 1;
  padding-right: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.chat-message {
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;
  width: 100%;
}
.ai-message {
  color: #555;
  white-space: pre-wrap;
  max-height: calc(100vh - 500px);
  overflow-y: auto;
  padding: 5px;
}
.user-message {
  font-weight: bold;
  color: #333;
  width: 100%;
}
.chat-input {
  display: flex;
  gap: 8px;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;

  input {
    flex: 0 0 70%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    flex: 0 0 22%;
    background-color: #272822;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  button:hover {
    background-color: #444;
  }

  button:disabled {
    background-color: #ccc;
  }
}
.loading-indicator {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  color: #888;
}
